
.card{
    display: flex;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 1);
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4rem;
    border-radius: 10px;
    padding: 1%;
    min-height: 50vh;
    
}
.title{
  height: 20vh;
  
}

.titleLink{
  font-size: 15px;
}
@keyframes parpadeo {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: parpadeo 1s infinite;
}
.cardtitle{
    display: flex;
    margin-top: 4rem;
}
.oferta{
  color: #f32b0c;
}
.precio{
  color: #e58031;
}
.comprar{
  color: #04ff00;
}
.comprar:hover{ 
  opacity: 0.4;
}
.nav {
    display: block;
    background-color: #f6efef;
    padding: 10px;
  }
  .ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .show {
    display: block; /* Muestra el menú */
  }
.imageContainer:hover{
    opacity: 0.9 
}
.imageContainer{
    display: flex;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}
.botones{
  display: flex;
  position:relative;
  width: 100%;
  justify-content:space-around;
  align-items: center;
}
.btn{
 border: solid 2px white;
 padding: 4px;
 border-radius: 5px;
}
.contenedor{
    display: flex;
    width: 100%;
    height: 50vh;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
}
.cardImg{
  width: 60%;
  height: 35vh;
  border-radius: 4px;
  
  
}
@media screen and (max-width : 580px) {
   .title {
    position: absolute;
    z-index: 1;
    width: 95%;
    min-height: 90vh;
    margin-top: 6rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: flex-start;
    }
    .ul {
        display: none; /* Oculta el menú por defecto en dispositivos móviles */
      }
    .card{
        margin: 0%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 4.1rem;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        background-color: rgb(18, 18, 18);
    }
    .cardsMain{
      min-height: 100vh;
    }
  
    .card:hover{
        opacity: 0.9;
    }
    .imageContainer{
        display: flex;
        flex-direction: row;
        min-height: 98vh;
        border-radius: 5px;
        flex-wrap: wrap;
        padding: 1%;
        align-content: space-around;
        justify-content: space-between; 
        background-color: white;
        overflow: hidden;
    }
    .contenedor{
        min-height: 100vh;
    }
    .cardImg{
      min-height: 92vh;
      border-radius: 5px;
      min-width:100% ;
    }
    .botones{
      position: relative;
      background-color: #9b9f9f;
      padding: 3px;
    }
}
@media screen and (min-width : 1200px) {
  .card{
    margin-left: 25%;
    margin-right: 25%;
  }
}